/* test/extra css rules go here */

body {
  background-color: rgba(240,240,240,0.975);
  font-family: Helvetica, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

input[type] {
  width: 80%;
}

select {
  width: 85%;
}
#find-box {
  width: 120px;
}

.json-data-view {
  width: 96%;
  margin: 0 auto;
  display: block;
}

div#app {
  border: 4px dashed #999;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 800px;
  width: 80%;
  padding: 20px;
}

.small { font-size: 0.65em;}

div.json-reactor {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  flex-flow: row nowrap;

}

section.j-side {
  display:  inline-block;
  width:    50%;
  margin:   10px auto;
  padding:  20px 0px;
}

.j-keys li {
  cursor: pointer;
}

.j-keys li:hover {
  text-decoration: underline;
  font-style: italic;
  background-color: #CCC;
  color: #333;

}

input[type] {
  border: 1px solid #333;
}

.demo textarea {
  font-family: 'Droid Mono', 'Courier', monospace;
  min-height: 145px;
  width: 48%;
  display: inline-block;
}
